In [1]:
import numpy as np
import pandas as pd
import pyodbc
import openpyxl
from cmlib.model_monitoring_metrics import HHI, Threshold

import numpy as np

In [2]:
#Connected to database server
conn = pyodbc.connect('''DRIVER={ODBC Driver 17 for SQL Server};Server=lbbbubble.eu.rabonet.com\ABB_PRD_01;
Database=RA_ABB_Custom;Trusted_connection=yes;''')

In [3]:
#query from sql for AWL
data_awl = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,

p.eadProduct,
P.measurementPeriodId,
P.deltaOustanding,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
                        and P.Isactive = 1
                        and P.CapitalBearing = 1
                        and F.Indicator_In_Scope = 1
                        and P.eadSegment = 'Account without Limit'
                        and P.measurementperiodID >= 201001 
                        and P.measurementperiodID <= 202012
order by P.measurementperiodID
 """, conn)

In [4]:
#query from sql for LOAN
data_loan = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,
P.measurementPeriodId,
p.eadProduct,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
    and P.Isactive = 1
    and P.CapitalBearing = 1
    and F.Indicator_In_Scope = 1
    and P.eadSegment = 'Loan'
    and P.measurementperiodID >= 201001 
    and P.measurementperiodID <= 202012
order by P.measurementperiodID
 """, conn)

In [5]:
#query from sql for BGLC
data_bglc = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,
P.measurementPeriodId,
p.eadProduct,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
    and P.Isactive = 1
    and P.CapitalBearing = 1
    and F.Indicator_In_Scope = 1
    and P.eadSegment = 'Bank Guarantee/ Letters of Credit'
    and P.measurementperiodID >= 201001 
    and P.measurementperiodID <= 202012
order by P.measurementperiodID
 """, conn)

In [6]:
#query from sql for ROP
data_rop = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,

p.eadProduct,
P.measurementPeriodId,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
    and P.Isactive = 1
    and P.CapitalBearing = 1
    and F.Indicator_In_Scope = 1
    and P.eadSegment = 'ROPflexcredits'
    and P.measurementperiodID >= 201001 
    and P.measurementperiodID <= 202012
order by P.measurementperiodID
 """, conn)

In [7]:
#query from sql for rev ZO
data_rev_zo = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,

p.eadProduct,
P.measurementPeriodId,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
    and P.Isactive = 1
                        and P.CapitalBearing = 1
                        and F.Indicator_In_Scope = 1
                        and P.eadSegment = 'Revolving credit'
                        and P.measurementperiodID >= 201001 
                        and P.measurementperiodID <= 202012
                        and P.outstandingAmount = 0
order by P.measurementperiodID
 """, conn)

In [20]:
#query from sql for rev NZO
data_rev_nzo = pd.read_sql(f""" select floor(P.measurementperiodID/100) as year,
P.measurementperiodID - floor(P.measurementperiodID/100)*100 as month,

p.eadProduct,
P.measurementPeriodId,
P.alpha,
P.eadSegment

from [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Product_RemediatedModel_202111] as P

left join [RA_ABB_Custom].[dbo].[RSME_FinalModelPrediction_Monitoring2021_200912_202106_Facility_RemediatedModel_202111] as F

on P.FacilityId=F.FacilityId and P.measurementperiodID=F.measurementperiodID


where P.defaultFlag = 0
                        and P.Isactive = 1
                        and P.CapitalBearing = 1
                        and F.Indicator_In_Scope = 1
                        and P.eadSegment = 'Revolving credit'
                        and P.measurementperiodID >= 201001 
                        and P.measurementperiodID <= 202012
                        and P.outstandingAmount > 0
order by P.measurementperiodID
 """, conn)

In [23]:
# data_bglc[(data_bglc['measurementPeriodId']>=202001) & (data_bglc['measurementPeriodId']<=202012)]

,year,month,measurementPeriodId,eadProduct,eadSegment
2683723,2020.0,1.0,202001.0,20839.00,Bank Guarantee/ Letters of Credit
2683724,2020.0,1.0,202001.0,8925.00,Bank Guarantee/ Letters of Credit
2683725,2020.0,1.0,202001.0,13013.55,Bank Guarantee/ Letters of Credit
2683726,2020.0,1.0,202001.0,1928.57,Bank Guarantee/ Letters of Credit
2683727,2020.0,1.0,202001.0,11700.00,Bank Guarantee/ Letters of Credit
...,...,...,...,...,...
2823357,2020.0,12.0,202012.0,7436.81,Bank Guarantee/ Letters of Credit
2823358,2020.0,12.0,202012.0,2187.00,Bank Guarantee/ Letters of Credit
2823359,2020.0,12.0,202012.0,100000.00,Bank Guarantee/ Letters of Credit
2823360,2020.0,12.0,202012.0,750000.00,Bank Guarantee/ Letters of Credit
2823361,2020.0,12.0,202012.0,6806.70,Bank Guarantee/ Letters of Credit

In [30]:
def fn_perc(df,var):
    #     perc 10 and 90
    # print(df.columns)
    
    perc_10_var = df[var].quantile(.1)
    perc_90_var = df[var].quantile(.9)

    div = perc_90_var - perc_10_var
    div = div / 9
    
    b_01 = perc_10_var
    b_02 = perc_10_var + div
    b_03 = b_02 + div
    b_04 = b_03 + div
    b_05 = b_04 + div
    b_06 = b_05 + div
    b_07 = b_06 + div
    b_08 = b_07 + div
    b_09 = b_08 + div
    b_10 = b_09 + div
    
    print(f'perc_10_var={b_01},\n b02={b_02},\nb03={b_03},\nb04={b_04},\nb05={b_05},\nb06={b_06},\nb07={b_07},\nb08={b_08},\nb09={b_09},\nperc_90_var={b_10}')
    
    return b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10

In [31]:
def floor_bucket(df,var1,b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10):
    var_bucket = f'{var1}_bucket'
    df[f'{var1}_bucket'] = np.where(
   
        df[var1]<=b_01,'B01',
        np.where((df[var1]>b_01) & (df[var1]<=b_02),'B02',
                 np.where((df[var1]>b_02) & (df[var1]<=b_03),'B03',
                          np.where((df[var1]>b_03) & (df[var1]<=b_04),'B04',
                                   np.where((df[var1]>b_04) & (df[var1]<=b_05),'B05',
                                           np.where((df[var1]>b_05) & (df[var1]<=b_06),'B06',
                                                     np.where((df[var1]>b_06) & (df[var1]<=b_07),'B07',
                                                             np.where((df[var1]>b_07) & (df[var1]<=b_08),'B08',
                                                                      np.where((df[var1]>b_08) & (df[var1]<=b_09),'B09',
                                                                               np.where((df[var1]>b_09) & (df[var1]<=b_10),'B10',
                                                                                         'B11' ))))))))))
    
    
    buckets = ["B01", "B02", "B03", "B04", "B05", "B06", "B07", "B08", "B09", "B10", "B11"]
    no_exist_bucket =[]
    for b in buckets:
        if not b in df[var_bucket].unique().tolist():
            no_exist_bucket.append(b)
                                                                       
   
    return df,no_exist_bucket

In [32]:
def fn_HHI_test(df_all,var1, var2=None):
#     print(df.columns)
    
    df = df_all[(df_all['measurementPeriodId']>=202001) & (df_all['measurementPeriodId']<=202012)]
    df_dev = df_all[(df_all['measurementPeriodId']>=201001) & (df_all['measurementPeriodId']<=201612)]
    
    # december cohorts
    df = df[df['month']==12]
    
    b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10 = fn_perc(df_dev,var1)
    df_buck_var1,no_exist_bucket = floor_bucket(df,var1,b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10)
    df_buck_var1.drop([var1], axis=1, inplace=True)
       
    var1_bucket = f'{var1}_bucket'
    
    df_var1 = pd.crosstab(df_buck_var1[var1_bucket].fillna('missing'), df_buck_var1['month'].fillna('missing'),
                          margins=False, dropna=False, normalize='columns')
    
    all_buckets = ["B01", "B02", "B03", "B04", "B05", "B06", "B07", "B08", "B09", "B10", "B11"]
    
    if len(no_exist_bucket)!=0:
        all_buckets = [i for i in all_buckets if not i in no_exist_bucket]
    
    outcome = HHI(
    actual_model=df_var1.iloc[:,0],
    bucket_names=all_buckets,
    thresholds={Threshold.GREEN: 0.001, Threshold.RED: 0.025},
    normalize = True
    ).compare()
    
    if outcome.normalized_hhi < 0.1:
        status1 = 'Green'
    elif 0.1 < outcome.normalized_hhi < 0.25:
        status1 = 'Amber'
    elif outcome.normalized_hhi >= 0.25:
        status1= 'Red'
    
    dic = {
        
        'Product':df.eadSegment.unique(),
        'EadProduct':var1,
        'normalized_hhi_ead':float("{:.2f}".format(outcome.normalized_hhi)),
        'Traffic_light1':status1}
    
    result_hhi = pd.DataFrame(dic,index=[0])
    
    ############################################ var 2 ################## 
    
    if var2 is not None:
        b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10 = fn_perc(df_dev,var2)
        df_buck_var2,no_exist_bucket2 = floor_bucket(df,var2,b_01,b_02,b_03,b_04,b_05,b_06,b_07,b_08,b_09,b_10)
        df_buck_var2.drop([var2], axis=1,inplace=True)

        var2_bucket = f'{var2}_bucket'

        df_var2 = pd.crosstab(df_buck_var2[var2_bucket].fillna('missing'), df_buck_var2['month'].fillna('missing'),
                              margins=False, dropna=False, normalize='columns')
        
        if len(no_exist_bucket2)!=0:
        
            all_buckets = [i for i in all_buckets if not i in no_exist_bucket2]

        outcome2 = HHI(
        actual_model=df_var2.iloc[:,0],
        bucket_names=all_buckets,
        thresholds={Threshold.GREEN: 0.001, Threshold.RED: 0.025},
        normalize = True
        ).compare()

        if outcome.normalized_hhi < 0.1:
            status2 = 'Green'
        elif 0.1 < outcome.normalized_hhi < 0.25:
            status2 = 'Amber'
        elif outcome.normalized_hhi >= 0.25:
            status2= 'Red'

        dic2 = {
            'Product':df.eadSegment.unique(),
            'Model_Parameter':var2,
            'normalized_hhi_mp':float("{:.2f}".format(outcome2.normalized_hhi)),
            'Traffic_light2':status2}

        result_hhi2 = pd.DataFrame(dic2,index=[0])

        result_hhi = pd.merge(result_hhi,result_hhi2, on='Product')

    return result_hhi

In [14]:
awl = fn_HHI_test(data_awl,'eadProduct','deltaOustanding')
awl

perc_10_var=1455.5430841,
 b02=2153.6512332491116,
b03=2851.759382398223,
b04=3549.8675315473342,
b05=4247.975680696446,
b06=4946.083829845557,
b07=5644.191978994669,
b08=6342.30012814378,
b09=7040.408277292891,
perc_90_var=7738.516426442003
perc_10_var=1427.64485887,
 b02=1759.3557287686667,
b03=2091.0665986673334,
b04=2422.777468566,
b05=2754.488338464667,
b06=3086.1992083633336,
b07=3417.9100782620003,
b08=3749.620948160667,
b09=4081.3318180593337,
perc_90_var=4413.042687958001

,Product,EadProduct,normalized_hhi_ead,Traffic_light1,Model_Parameter,normalized_hhi_mp,Traffic_light2
0,Account without Limit,eadProduct,0.05,Green,deltaOustanding,0.06,Green

In [15]:
loan = fn_HHI_test(data_loan,'eadProduct')
loan

perc_10_var=13888.06300000001,
 b02=43117.76711111095,
b03=72347.4712222219,
b04=101577.17533333284,
b05=130806.87944444378,
b06=160036.58355555474,
b07=189266.28766666568,
b08=218495.99177777662,
b09=247725.69588888757,
perc_90_var=276955.3999999985

  Product  EadProduct  normalized_hhi_ead Traffic_light1
0    Loan  eadProduct                0.03          Green

In [16]:
bglc = fn_HHI_test(data_bglc,'eadProduct')
bglc

perc_10_var=2387.9,
 b02=5785.355555555556,
b03=9182.81111111111,
b04=12580.266666666666,
b05=15977.722222222223,
b06=19375.17777777778,
b07=22772.633333333335,
b08=26170.08888888889,
b09=29567.544444444447,
perc_90_var=32965.0

,Product,EadProduct,normalized_hhi_ead,Traffic_light1
0,Bank Guarantee/ Letters of Credit,eadProduct,0.09,Green

In [17]:
rev_zo = fn_HHI_test(data_rev_zo,'eadProduct')
rev_zo

perc_10_var=3884.1111724,
 b02=11896.263204355555,
b03=19908.41523631111,
b04=27920.567268266663,
b05=35932.71930022222,
b06=43944.871332177776,
b07=51957.02336413333,
b08=59969.17539608889,
b09=67981.32742804445,
perc_90_var=75993.47946

            Product  EadProduct  normalized_hhi_ead Traffic_light1
0  Revolving credit  eadProduct                0.07          Green

In [21]:
rev_nzo = fn_HHI_test(data_rev_nzo,'eadProduct','alpha')
rev_nzo

perc_10_var=4130.382842490001,
 b02=14803.766876030222,
b03=25477.150909570446,
b04=36150.534943110666,
b05=46823.918976650886,
b06=57497.303010191106,
b07=68170.68704373133,
b08=78844.07107727155,
b09=89517.45511081177,
perc_90_var=100190.839144352
perc_10_var=0.983158544,
 b02=1.1076353195555555,
b03=1.232112095111111,
b04=1.3565888706666667,
b05=1.4810656462222223,
b06=1.6055424217777778,
b07=1.7300191973333334,
b08=1.854495972888889,
b09=1.9789727484444446,
perc_90_var=2.103449524

,Product,EadProduct,normalized_hhi_ead,Traffic_light1,Model_Parameter,normalized_hhi_mp,Traffic_light2
0,Revolving credit,eadProduct,0.07,Green,alpha,0.01,Green

In [35]:
all_prod = pd.concat([awl,loan,bglc,rev_zo,rev_nzo,rop]).reset_index(drop=True)
all_prod

,Product,EadProduct,normalized_hhi_ead,Traffic_light1,Model_Parameter,normalized_hhi_mp,Traffic_light2
0,Account without Limit,eadProduct,0.05,Green,deltaOustanding,0.06,Green
1,Loan,eadProduct,0.03,Green,NaN,NaN,NaN
2,Bank Guarantee/ Letters of Credit,eadProduct,0.09,Green,NaN,NaN,NaN
3,Revolving credit,eadProduct,0.07,Green,NaN,NaN,NaN
4,Revolving credit,eadProduct,0.07,Green,alpha,0.01,Green
5,ROPflexcredits,eadProduct,0.01,Green,NaN,NaN,NaN

In [33]:
rop = fn_HHI_test(data_rop,'eadProduct')

perc_10_var=748.15276,
 b02=2743.226786666666,
b03=4738.300813333332,
b04=6733.374839999999,
b05=8728.448866666666,
b06=10723.522893333333,
b07=12718.59692,
b08=14713.670946666667,
b09=16708.744973333334,
perc_90_var=18703.819

In [34]:
rop

          Product  EadProduct  normalized_hhi_ead Traffic_light1
0  ROPflexcredits  eadProduct                0.01          Green

In [27]:
lst = ['a']

In [29]:
if len(lst)!=0:
    print('not empty')

not empty